body {
  -webkit-print-color-adjust: exact !important;
}

.product-container {
  margin-top: 50px;
  width: 700px;
  height: 400px;
  border: 1px solid black;
  position: relative;
}

.product-container span {
  position: absolute;
  text-align: right;
  bottom: 96px;
  width: 100%;
  right: 32px;
}

.product-container h1 {
  line-height: 400px;
}

.product-container .title-container {
  font-size: 128px;
  margin-right: 32px;
  text-align: right;
  width: 550px;
  float: right;
}

.product-container .price {
  background: black;
  line-height: 150px;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 60px;
  color: white;
  position: absolute;
  top: 8px;
  left: 8px;
}

