<template>
    <div>
        <p class="basket-title">Koszyk</p>
        <hr>
        <div v-for="item in items" class="item">
            <span>{{item.quantity}}x </span>
            {{item.name}}

            <span style="float: right">
                <a class="fa fa-trash-alt text-danger" v-on:click="handleTrashClick(item)"></a>
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['items'],

        methods: {
            handleTrashClick: function(item) {
                this.$root.$emit('trashClicked', item);
            }
        }
    }
</script>

<style scoped>
    .basket-title {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    hr {
        margin-top: 0;
    }

    span {
        font-weight: bold;
    }

    .item {
        margin: 4px 0;
    }
</style>