<template>
    <div class="bottom-bar">
        <p>Razem: <strong>{{totalFormattedValue}}zł</strong></p>
        <div class="button-container">
            <button v-on:click="cancelClicked" type="button" class="btn btn-danger btn-lg cancel">Wyczyść (anuluj)</button>
            <button :disabled="blockPay" v-on:click="payClicked" type="button" class="btn btn-success btn-lg pay">Zapłać</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['totalFormattedValue', 'blockPay'],

        methods: {
            cancelClicked: function() {
                this.$root.$emit('cancelClicked');
            },
            payClicked: function() {
                this.$root.$emit('payClicked');
            }
        }
    }
</script>

<style scoped>
   .bottom-bar {
       background-color: #4F4F4F;
       height: 8vh;
       display: block;
       width: 100%;
       position: absolute;
       bottom: 0;
       z-index: 2;
   }

    .bottom-bar p {
        font-size: 32px;
        line-height: 8vh;
        color: white;
        margin-left: 16px;
        float:left;
        margin-bottom: 0;
    }

    .button-container {
        float:right;
        line-height: 8vh;
        margin-right: 16px;
    }

    .cancel {
        margin-right: 8px;
    }

    .pay {
        padding-left: 36px;
        padding-right: 36px;
    }
</style>