<template>
    <div id="clock">
        <p class="time">{{ time }}</p>
    </div>
</template>

<script>
export default {
    data(){
        return {
            time: null,
            timerId: null
        }
    },

    mounted() {
        this.timerId = setInterval(this.updateTime, 1000);
        this.updateTime();

    },

    methods: {
        zeroPadding(num, digit) {
            let zero = '';
            for(let i = 0; i < digit; i++) {
                zero += '0';
            }
            return (zero + num).slice(-digit);
        },

        updateTime() {
            const date = new Date();
            this.time = this.zeroPadding(date.getHours(), 2) + ':' + this.zeroPadding(date.getMinutes(), 2) + ':' + this.zeroPadding(date.getSeconds(), 2);
        }
    },

    beforeDestroy() {
        clearInterval(this.timerId);
    }
}
</script>

<style scoped>
    #clock {
        font-family: 'Share Tech Mono', monospace;
        color: #000000;
        text-align: center;
        text-shadow: 0 0 8px rgba(12, 83, 140, 1);
        position: absolute;
        right: 8px;
        bottom: -36px;
    }
    #clock .time {
        letter-spacing: 0.05em;
        font-size: 68px;
        padding: 5px 0;
    }
</style>