<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <h1>Kokpit</h1>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card" style="height: 200px">
                            <div class="card-body">
                                <h5 class="card-title">Ostatni zakup</h5>
                                <div class="card-text">
                                    <div v-if="data.last_order" style="text-align: center">
                                        <user-item :key="data.last_order.user.id" size="80" :user="data.last_order.user"></user-item>
                                        <div>{{data.last_order.items | items}}</div>
                                        <div>{{data.last_order.created_at}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="height: 200px">
                            <div class="card-body">
                                <h5 class="card-title">Najczęściej kupowane</h5>
                                <div class="card-text" style="text-align: center" v-if="data.most_common_purchase">
                                    <img :src="data.most_common_purchase.image_url" alt="" style="max-width: 100%; max-height: 100px">
                                    <div style="margin-top: 12px;">{{data.most_common_purchase.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="height: 200px">
                            <div class="card-body">
                                <h5 class="card-title">Wartość towaru <small>(hipotetyczna)</small></h5>
                                <p class="card-text" style="text-align: center; font-size: 64px; font-weight: bold">
                                    {{data.current_products_value | price}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="height: 200px">
                            <div class="card-body">
                                <h5 class="card-title">Sprzedaż ogółem</h5>
                                <p class="card-text" style="text-align: center; font-size: 64px; margin-top: 32px; font-weight: bold">
                                    {{data.total_sales_value | price}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import API from '../common/api';
    import filters from '../common/filters';

    export default {
        props: [],
        mounted() {
            API.getStats()
                .then(response => {
                    this.data = response.data;
                })
        },
        data() {
            return {
                data: {}
            }
        },
        filters
    }
</script>

<style>

</style>
