
<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <h1>Produkty <div class="btn btn-success float-right" v-b-modal.productModal @click="createProductModal"><i class="fas fa-plus"></i> &nbsp;Dodaj</div></h1>
                <br>
                <b-table hover :items="items" :fields="fields" :sort-compare="sortCompare" class="vertical-align">
                    <template slot="user" slot-scope="data">
                        <div v-if="data.item.user_id">
                            <user-item :key="data.item.user_id" size="20" :user="data.item.user"></user-item>
                            {{data.item.user.name}}
                        </div>
                    </template>
                    <template slot="price" slot-scope="data">
                        <div v-if="data.item">
                            {{data.item.price | price}}
                        </div>
                    </template>
                    <template slot="image" slot-scope="data">
                        <div v-if="data.item">
                            <img :src="data.item.image_url" alt="" style="max-width: 80px;max-height: 80px;">
                        </div>
                    </template>
                    <template slot="actions" slot-scope="data">
                        <div v-if="data.item">
                            <div class="btn btn-sm btn-primary" @click="editProductModal(data.item)" v-b-modal.productModal>edytuj</div>
                            <a class="btn btn-sm btn-secondary" target="_blank" :href="`/admin/products/${data.item.id}/print`">etykieta</a>
                            <div class="btn btn-sm btn-danger" @click="removeProductModal(data.item)" v-b-modal.removeModal>usuń</div>
                        </div>
                    </template>
                </b-table>
                <b-modal id="productModal" ref="productModal" size="lg" @hidden="clearModal">
                    <template slot="modal-title">
                        <div v-if="modalMode === 'create'">Dodaj produkt</div>
                        <div v-else>Edytuj {{activeItem.name}} (#{{activeItem.id}})</div>
                    </template>

                    <div>
                       <div class="row">
                           <div class="col-md-5 text-center">
                               <product-item :key="activeItem.id || 0" :product="activeItem" :size="200">
                                   {{activeItem}}
                               </product-item>
                           </div>
                           <div class="col-md-7">
                               <b-form>
                                   <b-form-group label="Nazwa"
                                                 label-for="nazwa">
                                       <b-form-input id="name"
                                                     type="text"
                                                     v-model="activeItem.name"
                                                     required
                                                     placeholder="Podaj nazwę produktu (jak najkrótszą)">
                                       </b-form-input>
                                   </b-form-group>
                                   <b-form-group label="Zdjęcie"
                                                 label-for="nazwa">
                                       <b-form-input id="photo"
                                                     type="text"
                                                     v-model="activeItem.image_url"
                                                     required
                                                     placeholder="Wklej URL zdjęcia (wyszukaj w Google)">
                                       </b-form-input>
                                   </b-form-group>
                                   <b-form-group label="Cena"
                                                 label-for="price">
                                       <b-form-input id="price"
                                                     type="number"
                                                     v-model="activeItem.price"
                                                     required
                                                     placeholder="Cena w groszach">
                                       </b-form-input>
                                   </b-form-group>
                                   <b-form-group label="Ilość"
                                                 label-for="quantity">
                                       <b-form-input id="quantity"
                                                     type="number"
                                                     v-model="activeItem.quantity"
                                                     required
                                                     placeholder="Ile sztuk?">
                                       </b-form-input>
                                   </b-form-group>
                                   <b-form-group label="Użytkownik">
                                       <user-list :users="users" :activeUserId="activeItem.user_id" label="Właściciel towaru: "></user-list>
                                   </b-form-group>
                               </b-form>
                           </div>
                       </div>
                    </div>

                    <template slot="modal-footer">
                        <div>
                            <b-button variant="primary" @click="handleProductModalAnswer('save')" :disabled="!saveEnabled">
                                Zapisz
                            </b-button>
                            <div class="btn btn-link" @click="handleProductModalAnswer('cancel')">Anuluj</div>
                        </div>
                    </template>
                </b-modal>
                <b-modal id="removeModal" ref="removeModal">
                    <template slot="modal-title">Usuń</template>
                    Czy na pewno chcesz usunąć produkt <span v-if="removeItem"><strong>{{removeItem.name}}</strong> (#{{removeItem.id}})</span>?
                    <template slot="modal-footer">
                        <div class="btn btn-danger" @click="handleRemoveModalAnswer('delete')">Usuń</div>
                        <div class="btn btn-link" @click="handleRemoveModalAnswer('cancel')">Anuluj</div>
                    </template>
                </b-modal>
            </div>
        </div>
    </div>
</template>

<script>
    import API from '../common/api'
    import axios from 'axios';
    import filters from '../common/filters';

    const { price } = filters;

    export default {
        mounted() {
            API.getProducts({with_zero_quantity: true})
                .then(response => {
                    this.items = response.data;
                })

            API.getUsers()
                .then(response => {
                   this.users = response.data;
                });

            this.$root.$on('userClicked', (id) => {
                console.log(id);
                this.activeItem.user_id = this.activeItem.user_id === id ? null : id;
                this.activeItem.user = this.getUserById(this.activeItem.user_id);
            });
        },
        data() {
            return {
                items: [],
                users: [],
                fields: [
                    {key: 'id', label: 'Id', sortable: true},
                    {key: 'image', label: 'Zdjęcie'},
                    {key: 'name', label: 'Nazwa', sortable: true},
                    {key: 'quantity', label: 'Ilość', sortable: true},
                    {key: 'price', label: 'Cena', sortable: true},
                    {key: 'user', label: 'Użytkownik', sortable: true},
                    {key: 'created_at', label: 'Data dodania', sortable: true},
                    {key: 'actions', label: 'Akcja', sortable: false}
                ],
                activeItem: {
                    user: {},
                    user_id: null
                },
                removeItem: null,
                modalMode: null
            }
        },
        methods: {
            fetchProducts() {
                API.getProducts({with_zero_quantity: true})
                    .then(response => {
                        this.items = response.data;
                    })
            },
            sortCompare() {
                return null;
            },
            createProductModal() {
                this.modalMode = 'create';
                this.activeItem = {
                    user: {}
                };
            },
            editProductModal(item) {
                this.modalMode = 'edit';
                this.$root.$emit('userClicked', ~~item.user_id);
                this.activeItem = {
                    ...item,

                };
                console.log('activeItem', this.activeItem);
            },
            removeProductModal(item) {
              this.removeItem = item;
            },
            getUserById(id) {
                return this.users.find(user => user.id === id) || {};
            },
            handleProductModalAnswer(answer) {
                if (answer === 'cancel') {
                    this.$refs.productModal.hide();
                    return;
                }

                this.save();
            },
            handleRemoveModalAnswer(answer) {
                if (answer === 'cancel') {
                    this.$refs.removeModal.hide();
                    return;
                }

                this.delete();
            },
            clearModal() {
                this.$root.$emit('userClicked', null);
                this.activeItem = {
                    user: {}
                }
            },
            save() {
                const { id, name, image_url, quantity, price, user_id } = this.activeItem;

                const saveData = {
                    name, image_url, quantity, price, user_id
                };

                const promise = this.modalMode === 'create' ? API.createProduct(saveData) : API.updateProduct(id, saveData);

                promise.then(() => {
                    this.$refs.productModal.hide();
                    this.fetchProducts();
                })
            },
            delete() {
                API.deleteProduct(this.removeItem.id)
                    .then(() => {
                        this.$refs.removeModal.hide();
                        this.fetchProducts();
                    })
            }
        },
        computed: {
            saveEnabled() {
                const activeItem = this.activeItem;
                return activeItem.name &&
                    activeItem.image_url &&
                    activeItem.price !== '' &&
                    activeItem.price >= 0 &&
                    activeItem.quantity !== '' &&
                    activeItem.user_id !== null;
            }
        },
        filters: {
            price
        }
    }
</script>

<style>
    body {
        overflow: auto;
    }

    .vertical-align td {
        vertical-align: middle;
    }

</style>
