<template>
    <div class="card card-default">
        <div class="card-body details-component">
            <div class="subcontainer" :style="{height: topSectionHeight + '%'}">
                <basket-list :items="order.items"></basket-list>
            </div>
            <div class="subcontainer">
                <user-list :users="users" activeUserId="order.user_id"></user-list>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['users', 'order'],
        computed: {
            topSectionHeight() {
                if(this.users.length <= 16) {
                    return 50;
                } else {
                    const factor = ~~(1 + (this.users.length - 16)/4);
                    return 50 - factor * 10;
                }
            }
        }
    }
</script>

<style scoped>
    .details-component {
        height: 90vh;
    }

    .subcontainer {
        height: 50%;
    }
</style>