<template>
    <div class="container-fluid">
        <div class="row" v-if="!summary">
            <div class="col-md-9" v-if="products && users">
                <product-list :products="products"></product-list>
            </div>
            <div class="col-md-3" v-if="products && users">
                <details-component :users="users" :order="order"></details-component>
            </div>
            <div class="col-md-12">
                <i class="fas fa-sync refresh-icon" @click="fetchData"></i>
            </div>
            <transition enter-active-class="slideInUp" leave-active-class="slideOutDown">
                <bottom-bar :blockPay="blockPay" :totalFormattedValue="totalFormattedValue" style="animation-duration: 0.3s" v-if="order.items.length && order.user_id"></bottom-bar>
            </transition>
        </div>
        <div v-else>
            <summary-component :activeUser="activeUser" :order="order"></summary-component>
        </div>
        <clock-component></clock-component>
    </div>
</template>

<script>
    import axios from 'axios';
    import API from '../common/api';
    import filters from '../common/filters'

    export default {
        mounted() {
            this.fetchData();

            this.$root.$on('productClicked', (product) => {
                if(product.quantity === 0) {
                    return;
                }

                const index = this.order.items.findIndex(item => item.id === product.id);

                if(index === -1) {
                    this.order.items.push({
                        id: product.id,
                        quantity: 1,
                        name: product.name,
                        unitPrice: product.price,
                        ownerId: product.user.id
                    });

                    product.originalQuantity = product.quantity;
                } else {
                    this.order.items[index].quantity++;
                }

                product.quantity--;
            });

            this.$root.$on('trashClicked', (item) => {
                this.deleteOrderItem(item.id);
            });

            this.$root.$on('cancelClicked', () => this.clearOrder());

            this.$root.$on('payClicked', () => this.pay());

            this.$root.$on('deleteClicked', () => {
                API.deleteOrder({
                    id: this.order.id,
                    revert_quantity: true
                }).then(() => {
                   this.$root.$emit('doneClicked');
                });
            });

            this.$root.$on('doneClicked', () => {
                this.fetchData()
                    .then(() => {
                        this.order.user_id = null;
                        this.order.id = null;
                        this.order.items = [];
                        this.summary = false;
                    })
            });

            this.$root.$on('userClicked', (id) => {
                this.order.user_id = this.order.user_id !== id ? id : null
            });

            window.Echo.channel('products-channel')
                .listen('.product.created', this.fetchData.bind(this))
                .listen('.product.edited', this.fetchData.bind(this))
                .listen('.product.deleted', this.fetchData.bind(this));

            window.Echo.channel('frontend-channel')
                .listen('.refresh-terminal', function(){
                    window.location.reload(true);
                });
        },

        data() {
            return {
                products: null,
                users: null,
                order: {
                    id: null,
                    user_id: null,
                    items: []
                },
                summary: false,
                blockPay: false
            }
        },

        computed: {
            totalFormattedValue: function() {
                const value = this.order.items.reduce((a,b) => {
                    console.log('reduce', b.ownerId, this.activeUserId);
                    return b.ownerId == this.order.user_id ? a : a + b.unitPrice * b.quantity
                }, 0);

                return filters.price(value);
            },
            activeUser: function() {
                return this.users.find(user => user.id === this.order.user_id);
            }
        },

        methods: {
            fetchData: function(e) {
                e && console.log(e);
                
                return axios.all([
                    API.getProducts(),
                    API.getUsers()
                ])
                .then(axios.spread((productResponse, usersResponse) => {
                    this.products = productResponse.data;
                    this.users = usersResponse.data;
                }));
            },
            deleteOrderItem: function(id) {
                const index = this.order.items.findIndex(subitem => subitem.id === id);

                this.$delete(this.order.items, index);

                const product = this.products.find(subitem => subitem.id === id);
                console.log('items', this.order.items);
                product.quantity = product.originalQuantity;
            },
            clearOrder: function() {
                const ids = [];

                this.order.items.forEach(item => ids.push(item.id));
                ids.forEach(id => this.deleteOrderItem(id));
                this.order.user_id = null;
            },
            pay: function() {
                this.blockPay = true;
                const { user_id, items } = this.order;

                API.createOrder({
                    user_id,
                    items
                }).then((response) => {
                    this.summary = true;
                    this.order.id = response.data.id;
                    this.$root.$emit('paid');

                    this.blockPay = false;
                })
            }
        }
    }
</script>
