<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <h1>Zakupy</h1>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="filter" placeholder="Szukaj...">
                </div>
                <b-table striped hover :items="items" :fields="fields" :sort-compare="sortCompare" :per-page="perPage" :currentPage="currentPage" @filtered="onFiltered" :filter="filter">
                    <template slot="user" slot-scope="data">
                        <div v-if="data.item.user">
                            <user-item :key="data.item.user.id" size="20" :user="data.item.user"></user-item>
                            {{data.item.user.name}}
                        </div>
                    </template>
                    <template slot="total" slot-scope="data">
                        <div v-if="data.item">
                            {{data.item.items | totalValue}}
                        </div>
                    </template>
                    <template slot="items" slot-scope="data">
                        <div v-if="data.item">
                            {{data.item.items | items}}
                        </div>
                    </template>
                    <template slot="actions" slot-scope="row">
                        <div v-if="row">
                            <div class="btn btn-secondary btn-sm" @click.stop="row.toggleDetails">
                                {{ row.detailsShowing ? 'zamknij' : 'więcej'}}
                            </div>
                            <div class="btn btn-primary btn-sm disabled" disabled>edytuj</div>
                            <div class="btn btn-danger btn-sm" v-b-modal.removeModal @click="selectItem(row.item)">usuń</div>
                        </div>
                    </template>
                    <template slot="row-details" slot-scope="row">
                        <div class="row" v-if="row.item" v-for="item in row.item.items">
                            <div class="col-sm-2"></div>
                            <strong>{{item.quantity}}x </strong>&nbsp;{{item.product.name}}
                            od &nbsp;
                            <user-item :key="item.product.user_id + '-' + item.id" size="20" :user="findUserById(item.product.user_id)"></user-item>
                            &nbsp;po cenie {{item.price | price}}
                            <span v-if="item.price !== item.product.price && row.item.user_id != item.product.user_id">&nbsp(obecna cena: {{item.product.price | price}})</span>
                        </div>
                    </template>
                </b-table>
                <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
            </div>
        </div>
        <b-modal id="removeModal" ref="removeModal">
            <template slot="modal-title">Usuń</template>
            Czy na pewno chcesz usunąć zakup numer <span v-if="selectedItem">#{{selectedItem.id}}</span>?
            <template slot="modal-footer">
                <div class="btn btn-danger" @click="handleModalAnswer('revert-delete')">Usuń i przywróc ilość</div>
                <div class="btn btn-danger" @click="handleModalAnswer('delete')">Tylko usuń</div>
                <div class="btn btn-link" @click="handleModalAnswer('cancel')">Anuluj</div>
            </template>
        </b-modal>
    </div>
</template>

<script>
    import API from '../common/api'
    import axios from 'axios';
    import filters from '../common/filters'

    export default {
        mounted() {
            this.fetchData();
        },

        methods: {
            fetchData: function() {
                return axios.all([API.getOrders({orderBy: 'created_at', sortedBy: 'desc'}), API.getUsers()])
                    .then(axios.spread((ordersResponse, usersResponse) => {
                        this.items = ordersResponse.data;
                        this.totalRows = this.items.length;
                        this.currentPage = 1;

                        this.users = usersResponse.data;
                    }));
            },
            sortCompare(a, b, key) {
                if(key === 'user') {
                    return a.user.name.localeCompare(b.user.name);
                } else if(key === 'created_at') {
                    return a.created_at.localeCompare(b.created_at);
                } else if(key === 'total') {
                    const totalValue = this.$options.filters.totalValue;
                    return totalValue(a.items).localeCompare(totalValue(b.items));
                } else if(key === 'items') {
                    const reduceFunc = (i1, i2) => {
                        return i1 + Number(i2.quantity);
                    };
                    return a.items.reduce(reduceFunc, 0) - b.items.reduce(reduceFunc, 0);
                }
                return null;
            },

            findUserById(id) {
                return this.users.find(item => item.id == id);
            },
            onFiltered (filteredItems) {

                this.totalRows = filteredItems.length;
                this.currentPage = 1;
            },
            selectItem(item) {
                this.selectedItem = item;
            },
            handleModalAnswer(answer) {
                this.$refs.removeModal.hide();
                if (answer === 'cancel') {
                    return;
                }
                this.deleteItem(this.selectedItem.id, answer === 'revert-delete')
            },
            deleteItem(id, revert) {
                API.deleteOrder({
                    id: this.selectedItem.id,
                    revert_quantity: revert
                }).then(() => {
                    this.fetchData();
                })
            }
        },

        filters: {
          totalValue(items) {
            const value = items.reduce((a, b) => {
                return a + (Number(b.price) * b.quantity);
            }, 0);

            return filters.price(value);
          },
            ...filters
        },

        data() {
            return {
                items: [],
                users: [],
                selectedItem: null,
                fields: [
                    {key: 'id', sortable: true},
                    {key: 'user', label: 'Użytkownik', sortable: true},
                    {key: 'created_at', label: 'Data', sortable: true},
                    {key: 'total', label: 'Suma', sortable: true},
                    {key: 'items', label: 'Koszyk', sortable: true},
                    {key: 'actions', label: 'Akcja', sortable: false},
                ],
                perPage: 15,
                currentPage: 1,
                totalRows: 0,
                filter: null
            }
        }
    }
</script>

<style>
    body {
        overflow: auto;
    }

</style>
