<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <h1>Rozliczenie</h1>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="start_date">Data początkowa</label>
                            <b-form-input v-model="start_date" id="start_date" type="date" ref="start_date" @change="fetchPayoff()"></b-form-input>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="end_date">Data końcowa</label>
                            <b-form-input v-model="end_date" id="end_date" type="date" ref="end_date" @change="fetchPayoff()"></b-form-input>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>&nbsp;</label>
                        <div class="btn btn-primary" style="display: block; width: 150px;" @click="handleClick(-1)">Poprzedni miesiąc</div>
                    </div>
                    <div class="col-md-2">
                        <label>&nbsp;</label>
                        <div class="btn btn-primary" style="display: block; width: 120px;" @click="handleClick(0)">Ten miesiąc</div>
                    </div>
                </div>
                <b-table hover :items="items" :fields="fields" :sort-compare="sortCompare">
                    <template slot="user" slot-scope="data">
                        <div v-if="data.item.user_id">
                            <user-item :key="data.item.user_id" size="20" :user="findUserById(data.item.user_id)"></user-item>
                            {{findUserById(data.item.user_id).name}}
                        </div>
                    </template>
                    <template slot="purchases" slot-scope="data">
                        <div v-if="data.item">
                            {{data.item.purchases | price}}
                        </div>
                    </template>
                    <template slot="sales" slot-scope="data">
                        <div v-if="data.item">
                            {{data.item.sales | price}}
                        </div>
                    </template>
                    <template slot="total-value" slot-scope="data">
                        <div v-if="data.item">
                            {{data.item.balance | price}}
                        </div>
                    </template>
                </b-table>
            </div>
        </div>
    </div>
</template>

<script>
    import API from '../common/api'
    import axios from 'axios';
    import filters from '../common/filters';

    const { price } = filters;

    export default {
        mounted() {
            this.setMonth();

            const { start_date, end_date } = this;

            axios.all([API.getPayoff({start_date, end_date}), API.getUsers()])
                .then(axios.spread((payoffResponse, usersResponse) => {
                    this.items = payoffResponse.data;
                    this.users = usersResponse.data;
                }));
        },

        data() {
            return {
                start_date: null,
                end_date: null,
                items: [],
                users: [],
                fields: [
                    {key: 'user', label: 'Użytkownik', sortable: true},
                    {key: 'purchases', label: 'Zakupy', sortable: true},
                    {key: 'sales', label: 'Sprzedaż', sortable: true},
                    {key: 'total-value', label: 'Bilans długu', sortable: true},
                ]
            }
        },
        filters: {
            price
        },
        methods: {
            findUserById(id) {
                return this.users.find(item => item.id == id);
            },
            setMonth(offset = 0){
                const date = new Date();
                this.start_date = new Date(date.getFullYear(), date.getMonth() + offset, 2).toISOString().slice(0,10);
                this.end_date = new Date(date.getFullYear(), date.getMonth() + 1 + offset, 1).toISOString().slice(0,10);
            },
            handleClick(offset) {
                this.setMonth(offset);
                this.fetchPayoff();
            },

            fetchPayoff() {
                const { start_date, end_date } = this;
                API.getPayoff({start_date, end_date})
                    .then(response => {
                        this.items = response.data;
                    });
            },
            sortCompare(a, b, key) {
                if(key === 'user') {
                    const userA = this.findUserById(a.user_id);
                    const userB = this.findUserById(b.user_id);

                    return userA.name.localeCompare(userB.name);
                } else if(key === 'total-value') {
                    const totalValue = this.$options.filters.price;
                    return totalValue(a.value).localeCompare(totalValue(b.value));
                }
                return null;
            },
        }
    }
</script>

<style>
    body {
        overflow: auto;
    }

</style>
