<template>
    <div class="product-item" v-on:click="handleClick" :class="{'product-active': product.quantity > 0}" :style="{width: size + 'px', height: size + 'px', 'margin-right': (size / 20) + 'px', 'margin-bottom': (size / 20) + 'px'}">
        <div class="content-container">
            <div class="picture-box" :style="{height: (size * 3/4) + 'px' }">
                <img :src="product.image_url" alt="" :style="{'max-width': (size * 3/4) + 'px', 'max-height': (size * 3/4) + 'px'}">
            </div>
            <div class="data-container">
                <h3 :style="{'max-width': (size * 0.96) + 'px', 'font-size': ((size / 200) * 1.575) + 'rem'}">{{product.name}}</h3>
                <span v-show="typeof product.quantity !== 'undefined'" class="quantity">
                    <template v-if="product.quantity >= 0">
                        ({{product.quantity}})
                    </template>
                    <template v-else>
                        (<span style="font-size: 24px; position: relative; top:4px; font-weight: 100">∞</span>)
                    </template>
                </span>
            </div>

            <div class="user-container">
                <user-item :size="20" :user="product.user" :key="product.user.id"></user-item>
            </div>

            <div class="price-container">
                <div class="price">
                    {{priceFormatted}}
                </div>
            </div>
        </div>
        <div class="overlay" v-if="product.quantity == 0">

        </div>
    </div>
</template>

<script>
    import filters from '../common/filters';

    export default {
        mounted() {
            console.log('Component mounted.')
        },

        props: ['product', 'size'],

        computed: {
            priceFormatted: function() {
                return filters.price(this.product.price);
            }
        },
        methods: {
            handleClick: function() {
                this.$root.$emit('productClicked', this.product)
            }
        }
    }
</script>

<style scoped>
    .product-item {
        border: 1px solid #979797;
        background: #FAFAFA;
        display: inline-block;
        position: relative;
    }

    .product-active:hover, .product-active:focus {
        opacity: 0.7;
        cursor: pointer;
    }

    .content-container {
        text-align: center;
        position: relative;
        height: 100%;
    }

    .picture-box {
        width: 100%;
        display: flex;
        align-items: center;
    }

    img {
        display: block;
        margin: 0 auto;
        padding: 4px;
    }

    .quantity {
        margin-top: -12px;
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    .user-container {
        position: absolute;
        right: 4px;
        top: 4px;
    }

    .price-container {
        position: absolute;
        left: 4px;
        top: 4px;
    }

    .price {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: black;
        text-align: center;
        line-height: 50px;
        color: white;
        font-size: 18px;
    }

    .overlay {
        z-index: 2;
        background: black;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    h3 {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0 0 -4px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .data-container {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        width: 100%;
    }

</style>
