<template>
    <div class="card card-default">
        <div class="card-body product-list">
          <div class="row">
              <div class="col" style="text-align: center" v-for="product in products" :key="product.id">
                  <product-item :product="product" :size="products.length > 12 ? 156 : 200">
                      {{product}}
                  </product-item>
              </div>
              <div class="col" v-for="i in missingCols"></div>
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['products'],
        computed: {
            missingCols() {
                if(this.products.length < 13) {
                    return this.products.length % 4 && 4 - (this.products.length % 4);
                } else {
                    return this.products.length % 5 && 5 - (this.products.length % 5);
                }
            }
        }
    }
</script>

<style scoped>
    .product-container {
        justify-content: space-around;
    }
    .product-list {
        height: 90vh;
    }
</style>