<template>
    <div class="summary-component">
        <h1>Zrobione!</h1>
        <div v-for="item in order.items" class="item">
            <strong>{{item.quantity}}x </strong>
            {{item.name}}

            <span style="float: right">
                {{price(item) | formatPrice}}zł
            </span>
        </div>
        <hr>
        <div class="total-value">
            <strong>
                {{totalValue | formatPrice}}zł
            </strong>
        </div>
        <div class="bought-as">
            <span>Kupiono jako: </span>
            <user-item size="60" :user="activeUser"></user-item>
        </div>
        <button type="button" class="btn btn-success btn-lg" v-on:click="doneClick">Strona Główna ({{counter}}s)</button>
        <button type="button" class="btn btn-outline-danger" v-on:click="deleteClick">Anuluj zamówienie</button>
    </div>
</template>

<script>
    import filters from '../common/filters';

    export default {
        props: ['activeUser', 'order'],

        mounted() {
            this.startCounting();

            this.$root.$on('paid', () =>{
                this.startCounting();
            })
        },

        destroyed() {
            this.$root.$off('paid');
        },

        data: function() {
            return {
                counter: 8
            }
        },

        methods: {
            price: function (value) {
                const price = value.ownerId === this.activeUser.id ? 0 : value.unitPrice,
                      result = price * value.quantity;

                return result;
            },
            doneClick: function() {
                clearInterval(this.interval);
                this.$root.$emit('doneClicked');
            },
            deleteClick: function() {
                clearInterval(this.interval);
                this.$root.$emit('deleteClicked');
            },
            startCounting() {
                this.interval = setInterval(() => {
                    this.counter--;
                    if(this.counter === 0) {
                        this.doneClick();

                        setTimeout(() => {
                            this.counter = 8;
                        }, 1000);
                    }
                }, 1000)
            }
        },
        filters: {
            formatPrice: filters.price
        },
        computed: {
            totalValue: function() {
                return this.order.items.reduce((a, b) =>{
                    return a + this.price(b);
                }, 0);
            }
        }
    }
</script>

<style scoped>
    .summary-component {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 128px;
        text-align: center;
        width: 100%;
        margin-top: 16vh;
    }

    .item, .total-value {
        width: 240px;
        margin: 4px 0;
    }

    .total-value {
        float: right;
        text-align: right;
    }

    hr {
        height: 1px;
        width: 240px;
        margin: 0;
    }

    .btn {
        margin-top: 16px;
    }

    .bought-as {
        margin-bottom: 32px;
    }
</style>