<template>
    <div>
        <p class="pay-as">{{label || 'Zapłać jako'}} <strong>{{activeUserName}}</strong></p>
        <hr>

        <div class="user-list">
            <user-item :activeUserId="activeUserId" :size="58" v-for="user in users" :allowClick="true" :user="user" :key="user.id"></user-item>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['users', 'label'],

        mounted() {
          this.$root.$on('userClicked', (id) => {
              this.activeUserId = this.activeUserId === id ? null : id;
            });

            this.$root.$on('cancelClicked', () => {
                this.activeUserId = null
            });
        },

        data() {
            return {
                activeUserId: null,
            }
        },

        computed: {
            activeUserName: function() {
                console.log('here')
                if(!this.activeUserId) {
                    return null
                }

                return this.users.find(user => user.id === this.activeUserId).name
            }
        }
    }
</script>

<style scoped>
    .pay-as {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    hr {
        margin-top: 0;
    }

    .user-list {
        display: flex;
        flex-wrap: wrap;
    }
</style>