<template>
    <div v-on:click="userClicked"
         :style="styleObject"
         :title="user.name"
         :class="{'zoom': activeUserId === user.id}"
         class="tile">{{user.tile_name}}</div>
</template>

<script>
    export default {
        props: ['user', 'size', 'allowClick', 'activeUserId'],

        data() {
            return {
                styleObject: {
                    backgroundColor: this.user.color,
                    width:  this.size + 'px',
                    height: this.size + 'px',
                    fontSize: this.size/2 + 'px',
                    lineHeight: this.size + 'px',
                    margin: (this.size / 16) + 'px',
                    paddingLeft: (this.size / 30) + 'px',
                    letterSpacing: (this.size / 30) + 'px'
                }
            }
        },

        methods: {
            userClicked: function() {
                if(!this.allowClick) {
                    return;
                }
                console.log(this.user.id, this.activeUserId);
                this.$root.$emit('userClicked', this.user.id);
            }
        }
    }
</script>

<style scoped>
    .tile {
        color: white;
        font-weight: bold;
        text-align: center;
        transition: transform 0.2s, box-shadow .2s;
        display: inline-block;
    }
    .zoom {
        transform: scale(1.25);
        box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.5);
    }
</style>